/*-------------------------------------------*\
    CSS variables

        "--dds-grid" prefix reserved for
        DDS Positioning System.

\*-------------------------------------------*/
:root {
    --activekey-bar-background: #333;
    --activekey-bar-hover-background: #ddd;
    --activekey-bar-items-text-color: #f2f2f2;
    --activekey-bar-hover-text-color: #333;
    --activekey-bar-items-padding-top-or-bottom: 1em;
    --activekey-bar-items-padding-left-or-right: 1.5em;
    --body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --body-font-size: 18px;
    --body-font-weight: normal;
    --body-background: rgb(238, 238, 238);
    --popup-background: rgb(242, 242, 242);
    --popup-header-height: 1.5em;
    --popup-border-width: 2px;
    --body-text-color: #333;
    --msg-panel-background: #9AB8D5;
    --msg-panel-text-color: bisque;
    --dds-grid-columns: 132;
    --dds-grid-col-width: 11px;
    --dds-grid-row-padding-top: 0.2em;
    --dds-grid-row-padding-bottom: 0.2em;
    --main-window-background: url();
    --main-window-background-position: left top;
    --main-window-background-size: auto;
}

/*-------------------------------------------*\
    The Active Key Bar (menu)
\*-------------------------------------------*/

.dds-two-vertical-panel-container, .dds-two-horizontal-panel-container, .dds-two-vertical-panel-right-container, .dds-two-horizontal-panel-bottom-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.dds-two-vertical-panel-container {
    flex-direction: row;
}

.dds-two-horizontal-panel-container {
    flex-direction: column;
}

.dds-two-vertical-panel-right-container {
    flex-direction: row-reverse;
}

.dds-two-horizontal-panel-bottom-container {
    flex-direction: column-reverse;
}

.dds-two-panel-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-color: var(--activekey-bar-background);
    position: sticky; /* Note: the left:0 or top:0 or right:0 or bottom:0 is set by JavaScript */
}

.dds-two-panel-item:nth-child(2) {
    order: 0;
    flex: 3 1 auto;
    align-self: auto;
    overflow: auto;
}

.dds-activekey-horizontal-bar, .dds-activekey-vertical-bar {
    overflow: hidden;
    background-color: var(--activekey-bar-background);
}

.dds-activekey-horizontal-bar {
    font-size: calc( var(--body-font-size) * 0.65 );
    width: 100%;
}

.dds-activekey-vertical-bar {
    font-size: calc( var(--body-font-size) * 0.7 );
}

    .dds-activekey-horizontal-bar a, .dds-activekey-vertical-bar a {
        display: block;
        color: var(--activekey-bar-items-text-color);
        padding-top: var(--activekey-bar-items-padding-top-or-bottom);
        padding-bottom: var(--activekey-bar-items-padding-top-or-bottom);
        text-decoration: none;
    }

.dds-activekey-horizontal-bar a {
    float: left;
    text-align: center;
    padding-right: var(--activekey-bar-items-padding-left-or-right);
    padding-left: var(--activekey-bar-items-padding-left-or-right);
}

.dds-activekey-vertical-bar a {
    padding-right: calc( var(--activekey-bar-items-padding-left-or-right) / 2 );
    padding-left: calc( var(--activekey-bar-items-padding-left-or-right) / 2 );
    white-space: nowrap;
}

    .dds-activekey-horizontal-bar a:hover, .dds-activekey-vertical-bar a:hover {
        background: var(--activekey-bar-hover-background);
        color: var(--activekey-bar-hover-text-color);
    }

.display-element-uninitialized {
    visibility: hidden;
}

.display-element-initialized {
    background-image: var(--main-window-background);
    background-repeat: no-repeat;
    background-size: var(--main-window-background-size);
    background-attachment: fixed;
    background-position: var(--main-window-background-position);
}

.dds-grid-row input, .dds-grid-row select, select, .dds-grid-row textarea {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: calc( var(--body-font-size) * 0.75 ); /* Reduce font to avoid row to be taller than normal */
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
}

.dds-grid-row span, .dds-grid-row label {
    font-size: calc(var(--body-font-size) * 0.75);
    padding-top: var(--dds-grid-row-padding-top); /* Padding to match closer, rows with input tags */
    padding-bottom: var(--dds-grid-row-padding-bottom);
    text-align: left;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/*-------------------------------------------*\
    Default Page Fonts and colors

    margin is set to zero to allow Menu and
    Message Panel area to extend to the 
    borders of the Browser.
\*-------------------------------------------*/
body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--body-text-color);
    background: var(--body-background);
    margin: 0;
}

/*-------------------------------------------*\
    DDS Positioning System

        Implemented as a collection of 
        div elements, one per row. Each
        row displays as a one line grid
        with fixed-width columns.
        The col specifies the starting column
        in the grid, the span defined by
        the DDS length (or constant length)

\*-------------------------------------------*/
.dds-grid-row {
    display: grid;
    grid-template-columns: repeat(var(--dds-grid-columns), var(--dds-grid-col-width));
    padding-top: var(--dds-grid-row-padding-top);
    padding-bottom: var(--dds-grid-row-padding-bottom);
    width: -webkit-fit-content;
    width: fit-content;
}

.dds-grid-empty-row {
    padding-top: var(--dds-grid-row-padding-top);
    padding-bottom: var(--dds-grid-row-padding-bottom);
    min-height: calc(var(--body-font-size) * 1.1429);
    width: -webkit-fit-content;
    width: fit-content;
}

.dds-row-no-gap { /* Subfile rows look better without gaps between rows, particularly when using reverse-image */
    padding-top: 0;
    padding-bottom: 0;
}

.dds-subfile-record { /* Make width tight to the width of each Row grid. */
    width: min-content;
}

/*-------------------------------------------*\
    DDS field related styles.

\*-------------------------------------------*/
.dds-dec-field-alignment {
    text-align: right;
    padding-right: 0.25em;
}

.dds-field-in-error {
    color: red;
}

.dds-lowercase-not-allowed {
    text-transform: uppercase;
}

.dds-text-centered {
    text-align: center;
}

.dds-text-left {
    text-align: left;
}

.dds-field-underlined {
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.dds-clickable {
    cursor: pointer
}

.dds-cells-suitable-for-icons { /* allow icon to show larger without increating dds-row height */
    line-height: 0;
    padding: 0 !important;
    display: inline-block;
    vertical-align: middle;
}

.dds-preserve-blanks {
    white-space: pre;
}

.dds-multiline {
    resize: none;
    overflow-y: hidden;
}

/*-------------------------------------------*\
    ENTFLDATR (Entry Field Attribute) support

\*-------------------------------------------*/
.entry-field-attr:focus, .blue-entry-field-attr:focus, .green-entry-field-attr:focus, .pink-entry-field-attr:focus, .red-entry-field-attr:focus, .turquoise-entry-field-attr:focus, .yellow-entry-field-attr:focus {
    font-weight: 600 !important; /* Hi intensity */
    color: aqua /* WHT */
}

.blue-entry-field-attr:focus {
    color: darkblue /* BLU */
}

.green-entry-field-attr:focus {
    color: darkgreen /* GRN */
}

.pink-entry-field-attr:focus {
    color: hotpink /* PNK */
}

.red-entry-field-attr:focus {
    color: darkred /* RED */
}

.turquoise-entry-field-attr:focus {
    color: turquoise /* TRK */
}

.yellow-entry-field-attr:focus {
    color: darkgoldenrod /* YLW */
}

/*-------------------------------------------*\
    DDS Signature

\*-------------------------------------------*/
.dds-signature-container {
    position: relative;
    width: 95%;
    margin-left: 2%;
    border: 1px dotted #C0C0C0;
    -webkit-border-radius: 6px;
}

.dds-signature-sign-link {
    right: 2%;
    cursor: pointer;
}

.dds-signature-editor, .dds-signature-title {
    background-color: #48474F;
    color: white;
    padding: 0;
    margin: 0;
    border-style: none;
}

.dds-signature-editor {
    position: fixed;
    display: grid;
    /* grid-template-rows: 2em 1fr 100px 1fr 2em;  Note: computed at runtime, where "100px" is calculated */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.dds-signature-header, .dds-signature-footer {
    display: grid;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.dds-signature-header {
    grid-template-columns: 1fr 1fr 1fr;
}

.dds-signature-editor-filler {
    background-color: white;
}

.dds-signature-footer {
    grid-template-columns: 1fr;
}

.dds-signature-title {
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: 0;
    text-align: center;
}

.dds-signature-cancel-button, .dds-signature-done-button, .dds-signature-erase-button {
    padding: 0;
    font-size: 0.8em;
    border: none;
    color: white;
    background-color: #48474F;
    cursor: pointer;
}

.dds-signature-cancel-button {
    text-align: left;
    color: orangered;
}

.dds-signature-done-button {
    text-align: right;
    font-weight: bold;
    color: yellow;
}

.dds-signature-erase-button {
    text-align: right;
}


/*-------------------------------------------*\
    DDS Window (popup)

\*-------------------------------------------*/
.dds-window-background {
    background-color: lightgray;
    opacity: 0.8;
    pointer-events: none;
}

.dds-window-popup {
    position: relative;
    display: block;
    overflow: hidden;
    border: var(--popup-border-width) solid var(--popup-background);
    border-radius: 5px;
    text-align: center;
    border-color: blue;
    border-width: medium;
}

.dds-window-popup-record-container {
    background: var(--popup-background);
    width: 100%;
    height: 100%;
    text-align: left;
}

.dds-window-header {
    height: var(--popup-header-height);
    line-height: var(--popup-header-height);
    color: white;
    background-color: darkblue;
    cursor: grab;
    user-select: none;
}

/*-------------------------------------------*\
    Subfile effects (record cueing, sflend)

\*-------------------------------------------*/

.dds-subfile-candidate-current-record {
    background-color: #ddd;
}

.dds-subfile-current-record {
    background: rgba(0, 255, 127, 0.5);
}

.icon-in-not-selected-row {
    display: none;
}

.sflend-more {
    fill: darkseagreen;
    cursor: pointer;
}

.sflend-bottom {
    fill: darkorange;
}

.sflend-icon-table-data {
    text-align: right !important;
}

/*-------------------------------------------*\
    DdsTable

\*-------------------------------------------*/
.dds-grid-row-span {
    display: grid;
    grid-template-columns: repeat(var(--dds-grid-columns), var(--dds-grid-col-width));
    width: fit-content;
    width: -webkit-fit-content;
    overflow: auto;
}

.dds-table {
    /* display: block;  Enable to get scrolls inside Table */
    overflow: auto;
    table-layout: auto;
    border-collapse: collapse; /* disable to get separated */
    width: 100%;
    border: 1px solid lightgray;
    border-spacing: 0px; /* Similar to border-collapse: collapse (collapse has issue with sticky headers)*/
}

    .dds-table td {
        font-size: calc( var(--body-font-size) * 0.75 );
        padding: 2px;
        vertical-align: baseline;
        border: 1px solid lightgray;
    }

    .dds-table th {
        font-size: calc( var(--body-font-size) * 0.8 );
        font-weight: normal;
        padding: 4px;
        color: blue;
        border: 1px solid lightgray;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .dds-table tbody {
        background-color: whitesmoke;
    }

    .dds-table thead th {
        position: sticky;
        top: -1px;
    }

/*-------------------------------------------*\
    Message Panel (server and client validation).

\*-------------------------------------------*/

.dds-message-panel {
    overflow: auto;
    color: red;
    height: calc(1.2 * calc( var(--body-font-size) * 0.8 ));
}

    .dds-message-panel ul {
        list-style-type: none;
        margin: 0;
        margin-left: 1em;
        font-size: calc( var(--body-font-size) * 0.8 );
        padding: 0;
    }

    .dds-message-panel:not(:empty) { /* When there are messages, the panel overlaps the last row on the Page (similar to 5250) */
        position: relative;
        background: beige;
        bottom: var(--body-font-size);
        height: calc( var(--body-font-size) * 0.8 );
        border: var(--popup-border-width) solid;
        border-radius: 5px;
        border-color: orange;
        border-width: medium;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: auto;
    }

/*-------------------------------------------*\
    DdsContextMenu

\*-------------------------------------------*/

.dds-menu-popup {
    position: absolute;
    display: block;
    text-align: center;
    padding: 0;
}

.dds-menu-anchor-button, .dds-menu-placeholder {
    display: block;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-width: 0px;
    cursor: pointer;
}

.dds-menu {
    background: white;
    border-radius: 0.5em;
    border: 1px solid #dedede;
}

    .dds-menu > ul > li > button {
        padding: 0.2rem 0.8rem;
        width: 100%;
        font-size: calc( var(--body-font-size) * 0.75 );
        font-family: var(--body-font-family);
        -webkit-appearance: button;
        -moz-appearance: button;
        text-transform: none;
        line-height: 1.15;
        margin: 0;
        overflow: visible;
        border: 0;
        text-align: left;
        outline: none;
        cursor: pointer;
        background: transparent;
    }

    .dds-menu > ul {
        list-style: none;
        margin: 0;
        padding: 0.5em;
    }

        .dds-menu > ul > li {
            padding: 0;
        }

            .dds-menu > ul > li:hover {
                background-color: lightgray;
                font-weight: 600;
            }

.dds-menu-divider {
    margin-top: -0.3em;
    height: 0.3em;
}

.dds-menu-divider > hr {
    border-style: solid;
    border-bottom-color: royalblue;
}

/*-------------------------------------------*\
    DdsDecRangeField

\*-------------------------------------------*/
.dds-dec-range-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* align items horizontally  */
    gap: 0.25em;
}

.dds-dec-range-button {
    background-color: cornflowerblue;
    border-radius: 2px;
    margin: 0px;
    color: white;
    background: #2baee2;
    border: 0px;
    text-decoration: none;
    font-weight: bold;
    flex-basis: 10%;
}

.dds-dec-range-button-input {
    text-align: center;
    width: inherit;
    outline: thin;
}

.dds-dec-range-slider {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    background-color: var(--body-background);
    border: 1px solid var(--body-background) !important;
}

.dds-dec-range-slider-input {
    width: inherit;
    outline: thin;
    flex-basis: 25%;
}

.dds-dec-range-slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.dds-dec-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

.dds-dec-range-slider:focus {
    outline: none;
}

.dds-dec-range-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.dds-dec-range-slider::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.dds-dec-range-slider::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

.dds-dec-range-slider:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

.dds-dec-range-slider::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

.dds-dec-range-slider::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

.dds-dec-range-slider::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

.dds-dec-range-slider::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

.dds-dec-range-slider:focus::-ms-fill-lower {
    background: #888;
}

.dds-dec-range-slider:focus::-ms-fill-upper {
    background: #ccc;
}

/*-------------------------------------------*\
    Fake Data

\*-------------------------------------------*/
.rendering-fake-data {
    width: 100%;
    background-color: #FFC048;
    color: mintcream;
    font-size: larger;
    text-align: center;
    padding: 0.5em;
}

#rendering-fake-data-close-x {
    float: right;
    margin-right: 2em;
    font-size: medium;
}

#rendering-fake-data-close {
    float: right;
    margin-right: -1.5em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    opacity: 0.0;
}

div:has(> input#rendering-fake-data-close:checked) {
    display: none;
}

/*-------------------------------------------*\
    Synon Escape

\*-------------------------------------------*/
.escape-screen-title {
    font-size: x-large;
    padding: 5px;
    color: darkblue;
}
